.menu_count {
    background-color: gray;
    height: 70px;
    width: 250px;
}

.menu {
    background-color: dimgray;
    width: 250px;
    height: 350px;
}

img {
    width: 60px;
    height: 60px;
}

span {
    color: white;
}

body {
    font-family: sans-serif;
}

th {
    text-align: center;
}

.menu:hover {
    background-color: dimgray;
}
