.fb {
    height: 25px;
    width: 25px;
    background: url(icon2/fb_gray.png) no-repeat;
    display: inline-block;
    background-size: 25px;
    margin: 14px 12px 16px;
    float: right;
}

ul {
    list-style-type: none;
}

.fb:hover {
    background: url(icon2/fb.png);
    background-size: 25px;
}

.youtube {
    height: 25px;
    width: 25px;
    background: url(icon2/youtube_gray.png) no-repeat;
    display: inline-block;
    background-size: 25px;
    margin: 10px;
}

.youtube:hover {
    background: url(icon2/youtube.png);
    background-size: 25px;
}

.insta {
    height: 25px;
    width: 25px;
    background: url(icon2/insta_gray.png) no-repeat;
    display: inline-block;
    background-size: 25px;
    margin: 10px;
}

.insta:hover {
    background: url(icon2/insta.png);
    background-size: 25px;
}

ul li:hover {
    text-decoration: underline;
}

.footer {
    background-color: rgb(30, 80, 130);
    padding: 25px;
}

body {
    color: azure;
    font-family: sans-serif;
}

p {
    text-align: center;
    font-size: small;
}

table td {
    width: 47%;
}
